* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
body{
    background-color:rgb(253, 251, 251)
}
#cabecalho{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    right: 0px;
    top: 0px;
    left:0px;
    background-color:green;
}
#navegacao{
    display: flex;
    gap: 20px;
}
#sessao{
    padding-top: 72px;
}
#minha_foto{
    width: 200px;
    border-radius: 150px;
}
.primeira-noticia{
    display: flex;
    padding: 50px;
}
#aprendizado{
    max-width: 50%;
    margin: 45px 70px;
}
#licoes{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.listas{
    display: flex;
    justify-content: center;
    gap:100px;
    margin-bottom: 60px;
}
#lições{
    display: flex;
    justify-content: center;
    gap:100px;
    margin-bottom: 40px;
}
#rodape{
    background-color: green;
    padding: 40px;
}
#social{
    display: flex;
    justify-content: flex-end;
    gap: 60px;
}